@media (max-width: 1120px) {
    .advantages__inner {
        flex-wrap: wrap;
    }
    .advantages__item {
        width: 50%;
        padding-right: 70px;
    }
}

@media (max-width: 1040px) {
    .top__inner-img {
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .list__inner {
        display: block;
    }
    .tabs__content{
        margin: 0 auto;
        max-width: 500px;
    }
    .tabs__reviews {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .tabs__content::before,
    .tabs__content::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #a4c58c;
        z-index: 1;
    }
    .tabs__content::before {
        right: 100%;
    }
    .tabs__content::after {
        left: 100%;
    }
    .list__link {
        justify-content: center;
    }
    .list__link a{
        padding: 22px 36px 22px 73px;
        min-width: 430px;
    }
    .list__link a::after {
        right: 85px;
    }
    .tabs__reviews-link {
        left: 132px;
    }
    .tabs__reviews::after,
    .tabs__reviews::before {
        content: "";
        position: absolute;
        background-color: #FFF;
        width: 100%;
        height: 20px;
        bottom: -20px;
        z-index: 2;
    }
    .tabs__reviews::after{
        left:100%;
    }
    .tabs__reviews::before{
        right: 100%;
    }
    .list__inner {
        padding-bottom: 20px;
    }
}

@media (max-width: 940px) {
    .top__inner-form {
        position: absolute;
        right: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .advantages__inner {
        padding-top: 100px;
    }
    .top__inner-suptitle,
    .top__inner-title,
    .top__inner-text {
        width: 280px;
        margin-right: 100px;

    }
    .top__inner-title {
        font-size: 50px;
        line-height: 50px;
    }
    .top__inner-text {
        font-size: 16px;
        margin-bottom: 27px;
    }
}

@media (max-width: 768px) {
    .header__text {
        font-size: 14px;
    }
    .top__inner-suptitle {
        margin-top: 25px;
    }
    .top__inner-text {
        margin-bottom: 27px;
    }
    .advantages__inner {
        padding: 10px 80px 0 50px;
    }
    .advantages__item {
        padding-right: 57px;
        /*margin-bottom: 60px;*/
    }
    .advantages {
        margin-bottom: 100px;
    }
    .list__title {
        padding-top: 0;
        text-align: center;
        max-width: 370px;
        margin: 0 auto 30px;
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 760px) {
    .top__inner-img img {
        width: 200px;
    }
    .advantages__inner {
        padding-top: 180px;
        padding-right: 0;
        padding-left: 0;
    }
    .advantages__item {
        padding-right: 30px;
        margin-bottom: 60px;
    }
}



@media (max-width: 700px) {
    .header__text {
        display: none;
    }
}

@media (max-width: 640px) {
    .top__inner-form {
        left: 15px;
    }
    .top__inner-img img {
        width: 150px;
    }
    .mobile__link-btn {
        display: block;
        width: 100%;
        text-align: center;
        padding: 22px 15px;
    }
    .top-form {
        display: none;
    }
    .top__inner-text {
        display: none;
    }
    .top__inner-form {
        position: static;
        align-items: center;
        text-align: center;
    }
    .top__inner-suptitle,
    .top__inner-title,
    .top__inner-text {
        width: 100%;
        margin-right: 0;
    }
    .top__inner{
        flex-direction: column;
        align-items: center;
    }
    .top__inner-img {
        order: 1;
    }
    .advantages__inner {
        padding-top: 10px;
    }
}

@media (max-width: 600px){
    .top__inner-img img {
        width: 85px;
    }
    .advantages__inner {
        padding-top: 120px;
    }
    .advantages__item {
        width: 100%;
    }
    .tabs__box {
        flex-direction: column;
    }
    .tabs__box .tab {
        width: 100%;
    }
    .tabs__box .tab:first-child, .tabs__box .tab:nth-child(3) {
        border-right: none;
        padding-right: 0;
    }
    .tabs__box .tab:last-child, .tabs__box .tab:nth-child(2) {
        padding-left: 0;
    }
    .tab-order-0{
        order: 0;
    }
    .tab-order-1{
        order: 2;
    }
    .tab-order-2{
        order: 1;
    }
    .tab-order-3{
        order: 3;
    }
}

@media (max-width: 550px) {
    .tabs__content {
        height: 153px;
        background-image: none;
    }
    .tabs__content::after,
    .tabs__content::before {
        display: none;
    }
    .tab-order-3{
        border-bottom: none;
    }
    .tabs__reviews {
        position: static;
        margin: 0;
    }
    .tab.active::after {
        display: none;
    }
}


    @media (max-width: 480px) {
    .header__phone {
        font-size: 14px;
    }
    .header__logo img {
        width: 110px;
    }
    .header__phone a::before {
        display: none;
    }
    .header__phone-text {
        display: none;
    }
    .list__title {
        font-size: 24px;
        line-height: 30px;
    }
    .tab {
        font-size: 12px;
        padding: 24px 0;
    }
    .tabs__box .tab {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
    .tabs__reviews-text {
        font-size: 14px;
    }
    .tabs__reviews {
        padding: 0;
    }
    .tabs__reviews-inner {
        padding: 30px 8px;
        width: 283px;
    }
    .tab-item {
        display: none;
    }
    .tab-item:first-child{
        display: none;
    }
    .tabs {
        padding-right: 0;
    }
    .tabs__reviews-link {
        left: 72px;
        bottom: 8px;
    }

}

@media (max-width: 360px) {
    .top__images {
        min-height: 375px;
    }
    .top__inner-title {
        font-size: 30px;
        line-height: 36px;
        padding: 0 15px;
        margin-bottom: 15px;
    }
    .top__inner-suptitle {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .top__wrapper {
        margin-top: -365px;
    }
    .advantages__inner {
        padding-top: 50px;
    }
    .advantages__item {
        margin-bottom: 40px;
    }
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .tabs__content {
        max-width: 300px;
    }
    .list__link a {
        margin-top: 0;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        padding: 22px 10px;
    }
    .list__link a::after {
        display: none;
    }
}

/*@media (max-width: 320px) {*/
/*}*/










